/*
 * File Name: [:EVAL:]CURRENT_FILE[:END:]
 * Author: [:EVAL:]GIT_AUTHOR[:END:]
 * Created At: [:EVAL:]CURRENT_TIME[:END:]
 * Last Modified: [:EVAL:]CURRENT_TIME[:END:]
 */
#include <stdio.h>

int main(int argc, char **argv) {
    printf("Hello World\n");
    return 0;
    [:EVAL:]CURSOR[:END:]
}
