cmake_minimum_required (VERSION 2.8)
# File Name: [:EVAL:]CURRENT_FILE[:END:]
# Author: [:EVAL:]GIT_AUTHOR[:END:]
# Created At: [:EVAL:]CURRENT_TIME[:END:]
# Last Modified: [:EVAL:]CURRENT_TIME[:END:]

project ()

set (SRC_DIR ${PROJECT_SOURCE_DIR}/src)
set (EXECUTABLE_OUTPUT_PATH ${PROJECT_SOURCE_DIR}/bin)
set (LIBRARY_OUTPUT_PATH ${PROJECT_SOURCE_DIR}/lib)

add_subdirectory(${SRC_DIR})

add_executable(main)
[:EVAL:]CURSOR[:END:]
