// File Name: [:EVAL:]CURRENT_FILE[:END:]
// Author: [:EVAL:]GIT_AUTHOR[:END:]
// Created At: [:EVAL:]CURRENT_TIME[:END:]
// Last Modified: [:EVAL:]CURRENT_TIME[:END:]
package main

import (
    "fmt"
)

func main() {
	fmt.Println("Hello world.")
    [:EVAL:]CURSOR[:END:]
}
